<table class = "table table-striped">
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user_path(user) %></td>
    <td><%= link_to "Edit User", edit_user_path(user) %></td>
    <td><%= link_to "Delete User", user, method: :delete, data: { confirm: "Are you sure you want to delete this user?"} %></td>
  </tr>
  <% end %>
</table>
