<h4>New User </h4>
<div class="row">
  <div class="col-md-6">
    <%= form_for @user do |f| %>

      <%= f.label "Name" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>